# ignore Cordova/PhoneGap CLI directories
# in essence, use git to manage everything but
# *.xdk file, www directory, and other '!/' files listed below
/*
!/www
!/docs
!/package-assets
!/bower_components
!/README.md
!/LICENSE.md
!/*.xdk
!/*.xdke
!/intelxdk.config.additions.xml
!/app.json
!/icon.png
!/screenshot.png
!/bower.json
!/.gitignore
!/.jscodehints
